/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4185268 */
  src: url('//at.alicdn.com/t/c/font_4185268_tck08bfkx4a.woff2?t=1690449681150') format('woff2'),
       url('//at.alicdn.com/t/c/font_4185268_tck08bfkx4a.woff?t=1690449681150') format('woff'),
       url('//at.alicdn.com/t/c/font_4185268_tck08bfkx4a.ttf?t=1690449681150') format('truetype');
}
.icon {
  font-family: 'iconfont'; 
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 22px;
}
body{
  width: 100vw;
  height: 900vh;
  overflow-x: hidden;
  background-color: #fff;
}
li{
  list-style: none;
}

